.messageConsole {
    margin: 20px 0;
}

.messageConsole__title {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
}

.messageConsole__messages {
    padding: 10px;
    line-height: 1.5em;
    font-size: 1em;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid grey;
}

.messageConsole__messages :nth-child(odd) {
    background-color: lightgray;
}

.messageConsole__messages :nth-child(even) {
    background-color: ghostwhite;
}
